{{! Hannah }}
<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
        {{!-- main img --}}
      <div class="col-md-6"><img id="homeimg"
          class="card-img-top mb-5 mb-md-0"
          src="/imgs/jobsearch.jpg"
          alt="job search"
        /></div>
        {{!-- descripion --}}
      <div class="col-md-6">
        <h1 class="display-5 fw-bolder">Get A Job</h1>
        <p class="lead">We want to help you find a job you love!</p>
        <p class="lead">Help contribute to our community by signing up and start
          your search!</p>
        <a class="button google" href="/auth/google">Sign/Log In</a>

      </div>
    </div>
  </div>
</section>

{{!-- info cards --}}
<div class="card-deck">
  <div class="card">
    <img src="/imgs/getstarted.png" id="info-img" class="card-img-top-center" alt="...">
    <div class="card-body">
      <h5 class="card-title-info">Getting Started</h5>
      <p class="card-text-info">View job postings with our feed. Get quick and easy results with a scroll and a click!</p>
    </div>
  </div>
  <div class="card">
    <img src="/imgs/posted.png" id="info-img" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title-info">Post and Review</h5>
      <p class="card-text-info">See something you like? Read more with a click of a button and get access to more details, their profile or even leave a review of your own!</p>
    </div>
  </div>
  <div class="card">
    <img src="/imgs/profile.png" id="info-img" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title-info">Custom Profiles</h5>
      <p class="card-text-info">Manage your profile picture and view your post history! New job? Change your job title!</p>
    </div>
  </div>
</div>

{{!-- logging js --}}
<script src="/js/login.js"></script>

