{{! Hannah }}
<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
        {{!-- main img --}}
      <div class="col-md-6"><img
          class="card-img-top mb-5 mb-md-0"
          src="/imgs/jobsearch.jpg"
          alt="job search"
        /></div>
        {{!-- descripion --}}
      <div class="col-md-6">
        <h1 class="display-5 fw-bolder">Get A Job</h1>
        <p class="lead">We want to help you find a job you love! Find reviews,
          side hustles, existing job posts or even make a wanted post.</p>
        <p class="lead">Help contribute to our community by signing up and start
          your search!</p>
      </div>
    </div>
  </div>
</section>

{{!-- login will also apear here through homeroute --}}