{{!-- displays if not autherized --}}
{{!-- info card --}}
<div class="card-deck">
  <div class="card">
    <img src="/imgs/loginimg.png" id="info-img" class="card-img-top-center" alt="...">
    <div class="card-body">
      <h5 class="card-title-info">Not Logged In!</h5>
      <p class="card-text-info">Return Home and log in through your google account!</p>
    </div>
  </div>
  </div>