<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7">
      <div class="card p-3 py-4">
        {{! orofile picture }}
        <div class="text-center">
          <img src="/Assets/imgs/pfp.jpg" width="100" class="rounded-circle" />
        </div>
        {{! anme and current job  }}
        <div class="text-center mt-3">
          <h5 class="mt-2 mb-0">{{user.name}}</h5>
          <span>{{job.title}}</span>
        {{!-- view posts --}}
          <div class="px-4 mt-1">
            <p class="fonts">View All My Post!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>

</div>